.calculator-display {
  color: white;
  background: #1c191c;
  font-size: 6em;
  line-height: 115px;
  flex: 1;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.input {
  font-size: 5em;
}

.answer {
  font-size: 4em;
}

/* .calculator-display > div {
  position: absolute;
} */
